In [ ]:
!pip install torch

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: torch in /usr/local/lib/python3.8/dist-packages (1.13.1+cu116)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch) (4.4.0)

In [ ]:
import torch
print(torch.__version__)

1.13.1+cu116

In [ ]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [ ]:
import os
print(os.getcwd())

/content

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/ml-1m/ml-1m/movies.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
users = pd.read_csv('/content/drive/MyDrive/ml-1m/ml-1m/users.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')
ratings = pd.read_csv('/content/drive/MyDrive/ml-1m/ml-1m/ratings.dat', sep = '::', header = None, engine = 'python', encoding = 'latin-1')

In [ ]:
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [ ]:
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [ ]:
ratings.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [ ]:
training_set = pd.read_csv('/content/drive/MyDrive/ml-100k/u1.base', delimiter = '\t')
training_set = np.array(training_set, dtype = 'int')
test_set = pd.read_csv('/content/drive/MyDrive/ml-100k/u1.test', delimiter = '\t')
test_set = np.array(test_set, dtype = 'int')

In [ ]:
training_set

array([[        1,         2,         3, 876893171],
       [        1,         3,         4, 878542960],
       [        1,         4,         3, 876893119],
       ...,
       [      943,      1188,         3, 888640250],
       [      943,      1228,         3, 888640275],
       [      943,      1330,         3, 888692465]])

In [ ]:
test_set

array([[        1,        10,         3, 875693118],
       [        1,        12,         5, 878542960],
       [        1,        14,         5, 874965706],
       ...,
       [      459,       934,         3, 879563639],
       [      460,        10,         3, 882912371],
       [      462,       682,         5, 886365231]])

In [ ]:
nb_users = int(max(max(training_set[:,0]), max(test_set[:,0])))
nb_movies = int(max(max(training_set[:,1]), max(test_set[:,1])))
nb_movies, nb_users

(1682, 943)

In [ ]:
def convert(data):
  new_data = []
  for id_users in range(1, nb_users + 1):
    id_movies = data[:, 1] [data[:, 0] == id_users]
    id_ratings = data[:, 2] [data[:, 0] == id_users]
    ratings = np.zeros(nb_movies)
    ratings[id_movies - 1] = id_ratings
    new_data.append(list(ratings))
  return new_data
training_set = convert(training_set)
test_set = convert(test_set)

In [ ]:
len(training_set), len(test_set)

(943, 943)

In [ ]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [ ]:
training_set[training_set == 0] = -1
training_set[training_set == 1] = 0
training_set[training_set == 2] = 0
training_set[training_set >= 3] = 1
test_set[test_set == 0] = -1
test_set[test_set == 1] = 0
test_set[test_set == 2] = 0
test_set[test_set >= 3] = 1

In [ ]:
class RBM():
  def __init__(self, nv, nh):
    self.W = torch.randn(nh, nv)
    self.a = torch.randn(1, nh)
    self.b = torch.randn(1, nv)
  def sample_h(self, x):
    wx = torch.mm(x, self.W.t())
    activation = wx + self.a.expand_as(wx)
    p_h_given_v = torch.sigmoid(activation)
    return p_h_given_v, torch.bernoulli(p_h_given_v)
  def sample_v(self, y):
    wy = torch.mm(y, self.W)
    activation = wy + self.b.expand_as(wy)
    p_v_given_h = torch.sigmoid(activation)
    return p_v_given_h, torch.bernoulli(p_v_given_h)
  def train(self, v0, vk, ph0, phk):
    self.W += (torch.mm(v0.t(), ph0) - torch.mm(vk.t(), phk)).t()
    self.b += torch.sum((v0 - vk), 0)
    self.a += torch.sum((ph0 - phk), 0)

In [ ]:
nv = len(training_set[0])
nh = 100
batch_size = 100

In [ ]:
rbm = RBM(nv, nh)

In [ ]:
nb_epoch = 100
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(0, nb_users - batch_size, batch_size):
    vk = training_set[id_user : id_user + batch_size]
    v0 = training_set[id_user : id_user + batch_size]
    ph0,_ = rbm.sample_h(v0)
    for k in range(10):
      _,hk = rbm.sample_h(vk)
      _,vk = rbm.sample_v(hk)
      vk[v0<0] = v0[v0<0]
    phk,_ = rbm.sample_h(vk)
    rbm.train(v0, vk, ph0, phk)
    train_loss += torch.mean(torch.abs(v0[v0 >= 0] - vk[v0 >= 0]))
    s += 1.
  print('epoch: '+str(epoch)+' loss: '+str(train_loss/s))

epoch: 1 loss: tensor(0.3564)
epoch: 2 loss: tensor(0.2460)
epoch: 3 loss: tensor(0.2405)
epoch: 4 loss: tensor(0.2505)
epoch: 5 loss: tensor(0.2483)
epoch: 6 loss: tensor(0.2469)
epoch: 7 loss: tensor(0.2476)
epoch: 8 loss: tensor(0.2494)
epoch: 9 loss: tensor(0.2447)
epoch: 10 loss: tensor(0.2448)
epoch: 11 loss: tensor(0.2441)
epoch: 12 loss: tensor(0.2451)
epoch: 13 loss: tensor(0.2495)
epoch: 14 loss: tensor(0.2416)
epoch: 15 loss: tensor(0.2456)
epoch: 16 loss: tensor(0.2463)
epoch: 17 loss: tensor(0.2432)
epoch: 18 loss: tensor(0.2478)
epoch: 19 loss: tensor(0.2412)
epoch: 20 loss: tensor(0.2450)
epoch: 21 loss: tensor(0.2452)
epoch: 22 loss: tensor(0.2453)
epoch: 23 loss: tensor(0.2468)
epoch: 24 loss: tensor(0.2451)
epoch: 25 loss: tensor(0.2453)
epoch: 26 loss: tensor(0.2441)
epoch: 27 loss: tensor(0.2425)
epoch: 28 loss: tensor(0.2469)
epoch: 29 loss: tensor(0.2450)
epoch: 30 loss: tensor(0.2432)
epoch: 31 loss: tensor(0.2453)
epoch: 32 loss: tensor(0.2426)
epoch: 33 loss: tensor(0.2470)
epoch: 34 loss: tensor(0.2467)
epoch: 35 loss: tensor(0.2481)
epoch: 36 loss: tensor(0.2459)
epoch: 37 loss: tensor(0.2473)
epoch: 38 loss: tensor(0.2458)
epoch: 39 loss: tensor(0.2458)
epoch: 40 loss: tensor(0.2462)
epoch: 41 loss: tensor(0.2448)
epoch: 42 loss: tensor(0.2462)
epoch: 43 loss: tensor(0.2486)
epoch: 44 loss: tensor(0.2457)
epoch: 45 loss: tensor(0.2440)
epoch: 46 loss: tensor(0.2482)
epoch: 47 loss: tensor(0.2455)
epoch: 48 loss: tensor(0.2464)
epoch: 49 loss: tensor(0.2445)
epoch: 50 loss: tensor(0.2485)
epoch: 51 loss: tensor(0.2455)
epoch: 52 loss: tensor(0.2454)
epoch: 53 loss: tensor(0.2468)
epoch: 54 loss: tensor(0.2457)
epoch: 55 loss: tensor(0.2455)
epoch: 56 loss: tensor(0.2458)
epoch: 57 loss: tensor(0.2467)
epoch: 58 loss: tensor(0.2478)
epoch: 59 loss: tensor(0.2471)
epoch: 60 loss: tensor(0.2450)
epoch: 61 loss: tensor(0.2461)
epoch: 62 loss: tensor(0.2478)
epoch: 63 loss: tensor(0.2427)
epoch: 64 loss: tensor(0.2482)
epoch: 65 loss: tensor(0.2450)
epoch: 66 loss: tensor(0.2441)
epoch: 67 loss: tensor(0.2468)
epoch: 68 loss: tensor(0.2475)
epoch: 69 loss: tensor(0.2431)
epoch: 70 loss: tensor(0.2517)
epoch: 71 loss: tensor(0.2426)
epoch: 72 loss: tensor(0.2464)
epoch: 73 loss: tensor(0.2447)
epoch: 74 loss: tensor(0.2458)
epoch: 75 loss: tensor(0.2465)
epoch: 76 loss: tensor(0.2475)
epoch: 77 loss: tensor(0.2429)
epoch: 78 loss: tensor(0.2477)
epoch: 79 loss: tensor(0.2433)
epoch: 80 loss: tensor(0.2467)
epoch: 81 loss: tensor(0.2483)
epoch: 82 loss: tensor(0.2464)
epoch: 83 loss: tensor(0.2449)
epoch: 84 loss: tensor(0.2476)
epoch: 85 loss: tensor(0.2433)
epoch: 86 loss: tensor(0.2445)
epoch: 87 loss: tensor(0.2485)
epoch: 88 loss: tensor(0.2447)
epoch: 89 loss: tensor(0.2482)
epoch: 90 loss: tensor(0.2459)
epoch: 91 loss: tensor(0.2462)
epoch: 92 loss: tensor(0.2473)
epoch: 93 loss: tensor(0.2441)
epoch: 94 loss: tensor(0.2493)
epoch: 95 loss: tensor(0.2418)
epoch: 96 loss: tensor(0.2493)
epoch: 97 loss: tensor(0.2433)
epoch: 98 loss: tensor(0.2486)
epoch: 99 loss: tensor(0.2419)
epoch: 100 loss: tensor(0.2470)

In [ ]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    v = training_set[id_user:id_user+1]
    vt = test_set[id_user:id_user+1]
    if len(vt[vt>=0]) > 0:
        _,h = rbm.sample_h(v)
        _,v = rbm.sample_v(h)
        test_loss += torch.mean(torch.abs(vt[vt>=0] - v[vt>=0]))
        s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.2305)